@import '../../css/base';
@import '../../css/defaults';

.app {
  position: fixed;

  width: 100%;
  height: 100%;

  display: flex;

  background-color: white;

  &--locked {
    pointer-events: none;

    nav {
      display: none;
    }
  }

  nav {
    flex-basis: rem(200px);
    flex-shrink: 0;

    padding: rem(20px);

    background-color: #e5e5e5;

    overflow: auto;

    label {
      display: block;

      padding: rem(10px) 0;

      span {
        display: block;
        font-weight: bold;

      }

      input,
      textarea {
        width: 100%;
      }
    }
  }

  main {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-basis: auto;
    flex-grow: 1;

    overflow: auto;
  }

  &__lock {
    position: absolute;

    top: rem(0px);
    right: rem(0px);

    padding: rem(5px);
  }
}
